<div class="app-container" (click)="changeTitle()">
  {{ title | uppercase }}
  <button (click)="toggleShow()">Toggle</button>

  <h1 *ngIf="show1">1</h1>
  <h2 *ngIf="!show1">2</h2>

  <button (click)="setError()">Set Error</button>
  <button [ngClass]="{ red: error }">Error</button>

  <div class="pipe">{{ samplenumber | number: "1.2-2" | addprefixed }}</div>

  <div class="item" *ngFor="let item of sampleData">
    <h1>{{ item.title }}</h1>
    <h4>{{ item.description }}</h4>
  </div>
</div>
<div class="form-demo-container">
  <h1>Reactive Form Angular</h1>
  <button (click)="saveData()">Submit</button>
  <button (click)="setFieldValue()">SetValue</button>
  <h3>First Name</h3>
  <input id="name" type="text" [formControl]="firstName" />
  <p
    style="color: red"
    *ngIf="firstName.touched && firstName.hasError('minlength')"
  >
    firstName has length error
  </p>
  <p
    style="color: red"
    *ngIf="firstName.touched && firstName.hasError('required')"
  >
    firstName is required
  </p>
  <h3>Last Name</h3>
  <input id="name" type="text" [formControl]="lastName" />

  <br />

  <h2 style="margin-top: 100px">Form Group</h2>

  <button (click)="saveGroupData()">Submit</button>
  <button (click)="setGroupValue()">SetValue</button>
  <h3>Full Name</h3>

  <form [formGroup]="userData">
    <input id="name" type="text" formControlName="fullName" />
    <h3>Age</h3>
    <input id="name" type="text" formControlName="age" />
    <h3>Address</h3>
    <input id="name" type="text" formControlName="address" />
  </form>

  <h2 style="margin-top: 100px">Form Group Ex2</h2>

  <button (click)="saveGroupData2()">Submit</button>
  <button (click)="setGroupValue2()">SetValue</button>
  <h3>Full Name</h3>

  <input id="name" type="text" [formControl]="userData2.controls['fullName']" />
  <h3>Age</h3>
  <input id="name" type="text" [formControl]="userData2.controls['age']" />
  <h3>Address</h3>
  <input id="name" type="text" [formControl]="userData2.controls['address']" />

  <h2 style="margin-top: 100px">Form Array</h2>
  <button (click)="saveFormArray()">Submit</button>
  <button (click)="addNewNumber()">Add Phone number</button>

  <form
    *ngFor="let group of userMobilePhone.controls; let i = index"
    [formGroup]="group"
  >
    <h3>Phone Number {{ i + 1 }}</h3>
    <input id="name" type="text" formControlName="phone" />
    <button (click)="removePhone(i)">Remove this phone</button>
  </form>
</div>
