.app-container {
  color: red;
  button {
    padding: 10px;

  }
  .item {
    h1 {
      color: blue;
    }

    h4 {
      color: black;
    }
  }

  .red {
    background-color: red;
    color: white;
    font-weight: 600;
  }

  .pipe {
    font-size: 20px;
    color: navy;
  }
}
.form-demo-container {

}